<a href="https://colab.research.google.com/github/tomaszpionka/ds-project/blob/main/bank.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [22]:
from google.colab import files
uploaded = files.upload()

Saving bank.csv to bank (1).csv

In [23]:
import pandas as pd
import io
df = pd.read_csv(io.BytesIO(uploaded['bank.csv']), delimiter=";")
# Dataset is now stored in a Pandas Dataframe
df

      age            job  marital  education  ...   contact  day month duration
0      30     unemployed  married    primary  ...  cellular   19   oct       79
1      33       services  married  secondary  ...  cellular   11   may      220
2      35     management   single   tertiary  ...  cellular   16   apr      185
3      30     management  married   tertiary  ...   unknown    3   jun      199
4      59    blue-collar  married  secondary  ...   unknown    5   may      226
...   ...            ...      ...        ...  ...       ...  ...   ...      ...
4516   33       services  married  secondary  ...  cellular   30   jul      329
4517   57  self-employed  married   tertiary  ...   unknown    9   may      153
4518   57     technician  married  secondary  ...  cellular   19   aug      151
4519   28    blue-collar  married  secondary  ...  cellular    6   feb      129
4520   44   entrepreneur   single   tertiary  ...  cellular    3   apr      345

[4521 rows x 12 columns]

In [49]:
# a
print("miesiac z najwieksza iloscia polaczen")
print(df['month'].value_counts()[:12].index.tolist()[0])
print("miesiac z najmniejsza iloscia polaczen")
print(df['month'].value_counts()[:12].index.tolist()[-1])

miesiac z najwieksza iloscia polaczen
may
miesiac z najmniejsza iloscia polaczen
dec

In [48]:
# b
df2 = df.groupby('month', as_index=False)['duration'].mean()
print("pierwszy element jest odpowiedzią")
print(df2.sort_values(["duration"], ascending = False))

pierwszy element jest odpowiedzią
   month    duration
2    dec  416.900000
0    apr  294.354949
10   oct  272.800000
9    nov  272.066838
5    jul  271.205382
4    jan  269.540541
8    may  267.316166
3    feb  255.698198
6    jun  252.425612
1    aug  243.742496
11   sep  215.730769
7    mar  198.897959

In [83]:
# c
#  należy zainstalować category_encoders za pierwszym razem
# !pip install category_encoders
import category_encoders as ce
df2 = df[["education","balance"]]
print(df2)
encoder = ce.OrdinalEncoder(cols=['education'])
df2 = encoder.fit_transform(df2)
print(df2)
print("macierz korelacji")
print(df2.corr())
print("PCC = 0.058 - bardzo słaba dodatnia korelacja")

      education  balance
0       primary     1787
1     secondary     4789
2      tertiary     1350
3      tertiary     1476
4     secondary        0
...         ...      ...
4516  secondary     -333
4517   tertiary    -3313
4518  secondary      295
4519  secondary     1137
4520   tertiary     1136

[4521 rows x 2 columns]
      education  balance
0             1     1787
1             2     4789
2             3     1350
3             3     1476
4             2        0
...         ...      ...
4516          2     -333
4517          3    -3313
4518          2      295
4519          2     1137
4520          3     1136

[4521 rows x 2 columns]
macierz korelacji
           education   balance
education   1.000000  0.057725
balance     0.057725  1.000000
PCC = 0.058 - bardzo słaba dodatnia korelacja

/usr/local/lib/python3.6/dist-packages/category_encoders/utils.py:21: FutureWarning: is_categorical is deprecated and will be removed in a future version.  Use is_categorical_dtype instead
  elif pd.api.types.is_categorical(cols):

In [47]:
# d
df2 = df.groupby('marital', as_index=False)['age'].min()
print("podani beda najmlodsi przedstawiciele wszystkich 3 klas")
print(df2)

print()

df2 = df.groupby('marital', as_index=False)['age'].max()
print("podani beda najstarsi przedstawiciele wszystkich 3 klas")
print(df2)

podani beda najmlodsi przedstawiciele wszystkich 3 klas
    marital  age
0  divorced   26
1   married   23
2    single   19

podani beda najstarsi przedstawiciele wszystkich 3 klas
    marital  age
0  divorced   84
1   married   87
2    single   69