<a href="https://colab.research.google.com/github/tomaszpionka/ds-project/blob/main/iris.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
from sklearn.linear_model import SGDClassifier
import seaborn as sns
%matplotlib inline
import matplotlib.pyplot as plt
from scipy import stats

In [ ]:
ds = pd.read_csv("https://gist.githubusercontent.com/curran/a08a1080b88344b0c8a7/raw/0e7a9b0a5d22642a06d3d5b9bcbad9890c8ee534/iris.csv")
ds

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [ ]:
ds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [ ]:
ds['species'].value_counts()

setosa        50
versicolor    50
virginica     50
Name: species, dtype: int64

In [ ]:
def ecdf(data):
    """Compute ECDF for a one-dimensional array of measurements."""
    # Number of data points: n
    n = len(data)
    # x-data for the ECDF: x
    x = np.sort(data)
    # y-data for the ECDF: y
    y = np.arange(1, n+1) / n
    return x, y

def showPlots(ds):
  species = set(ds['species'])
  for i in species:
    df = ds[ds['species'] == i]
    #print("printing 4 charts for iris species {}".format(i))
    for j in set(df.columns):
      if (j != "species"):
        #print(j)
        #sns.displot(df[j],bins=10)
        #plt.title("printing chart for species {}, for column {}".format(i,j))
        #x, y = ecdf(df[j])
        #plt.figure(figsize=(8,7))
        #sns.set()
        #plt.plot(x, y, marker=".", linestyle="none")
        #plt.xlabel("{} - {}".format(i,j))
        #plt.ylabel("Cumulative Distribution Function")
        #samples = np.random.normal(np.mean(df[j]), np.std(df[j]), size=10000)
        #x_theor, y_theor = ecdf(samples)
        #plt.plot(x_theor, y_theor)
        #plt.legend(('Normal Distribution', 'Empirical Data'), loc='lower right')
        print(stats.normaltest(df[j]))
        print('mean for {} {} is {} and std is {}'.format(i,j,df[j].mean(),df[j].std()))
        print('\n')
        #TODO compare species parameters
showPlots(ds)

In [ ]:
X = ds.drop(columns ='species',axis=0)
y = ds['species']

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

sd = SGDClassifier()
sd.fit(X_train, y_train)

SGDClassifier(alpha=0.0001, average=False, class_weight=None,
              early_stopping=False, epsilon=0.1, eta0=0.0, fit_intercept=True,
              l1_ratio=0.15, learning_rate='optimal', loss='hinge',
              max_iter=1000, n_iter_no_change=5, n_jobs=None, penalty='l2',
              power_t=0.5, random_state=None, shuffle=True, tol=0.001,
              validation_fraction=0.1, verbose=0, warm_start=False)

In [ ]:
y_predict = sd.predict(X_test)
print(y_predict)

['virginica' 'setosa' 'virginica' 'virginica' 'virginica' 'setosa'
 'setosa' 'virginica' 'virginica' 'setosa' 'virginica' 'setosa' 'setosa'
 'setosa' 'setosa' 'virginica' 'virginica' 'versicolor' 'virginica'
 'virginica' 'setosa' 'virginica' 'setosa' 'virginica' 'virginica'
 'virginica' 'virginica' 'virginica' 'setosa' 'setosa' 'setosa' 'setosa'
 'setosa' 'setosa' 'setosa' 'virginica' 'virginica' 'setosa' 'setosa'
 'setosa' 'virginica' 'virginica' 'virginica' 'setosa' 'setosa'
 'versicolor' 'virginica' 'virginica' 'setosa' 'virginica']

In [ ]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test, y_predict)
#TODO have fun with SGDC parameters

0.74